TURNSTILE_SECRET=
TURNSTILE_SITE_KEY=
ADMIN_USER=admin
ADMIN_PASS_HASH=
CF_ACCESS_TEAM_DOMAIN=
CF_ACCESS_AUD=
REVALIDATE_TOKEN=
SITE_URL=https://mcpapp.workers.dev
ASSET_CDN_URL=https://cdn.mcpapp.net
CLOUDFLARE_ANALYTICS_TOKEN=
GOOGLE_ANALYTICS_ID=G-17PKWX92D6
